<%= turbo_frame_tag 'cadastro' do %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: {turbo_frame: 'cadastro', controller: 'login'}) do |f| %>    
      <%= f.email_field :email, class: "form-control", autocomplete: "email", placeholder: "E-mail", required: "required" %><br />
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> caracteres no minímo)</em><br />
      <% end %>
      <%= f.password_field :password, class: "form-control", autocomplete: "new-password", placeholder: "Senha", required: "required" %><br />
      <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password", placeholder: "Confirme a senha", required: "required" %><br />
    <div class="actions">
      <button name="button" type="submit" class="btn-login btn" id="submit-login">
        <span class="spinner-border spinner-grow-sm visually-hidden" aria-hidden="true"></span>
        <span role="status">Cadastrar</span>
      </button>
    </div>
  <% end %>
<% end %>