<!DOCTYPE html>
<html lang="pt-BR">
<html data-bs-theme="dark">
  <head>
    <title>FansOur</title>
    <%= favicon_link_tag asset_path('icone.png') %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_importmap_tags %>
    
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <meta name="turbo-refresh-scroll" content="preserve">
  </head>

  <body id="body">
    <% if current_user %>      
      <nav class="nav">
      <div id="menu-background" class="bg-black bg-opacity-50 z-n1 menu-hide" style="position: fixed;top: 4rem; bottom: 0; left: 0;right: 0;"></div>
        <a href="/" class="link-logo" title="link-logo">
          <svg style="max-width: 200px" viewBox="0 150 550 150" fill="rgb(78, 195, 224)" stroke-width="0" >
            <path  d="M109.79787,207.14104h-44.79787v9.96394h4.78269v35.87018h-4.78269v9.96394h30.21067v-9.96394h-7.25375v-12.51471h14.74663v-10.44221h-14.74663v-13.07269h9.72481v6.13779h12.11615z" ></path>
            <path  d="M164.71911,252.97517l-17.2974,-45.99355h-19.21048l-17.2974,45.99355h-5.10154v9.96394h24.55115v-9.96394h-4.70298l1.3551,-4.94211h17.69596l1.3551,4.94211h-4.78269v9.96394h28.77586v-9.96394zM130.20402,236.71402l5.65952,-17.2974l5.65952,17.2974z" ></path>
            <path  d="M237.01746,207.14104h-23.03663v9.96394h4.78269v23.43519l-22.39894,-33.39913h-23.67432v9.96394h4.78269v35.87018h-4.78269v9.96394h23.11634v-9.96394h-4.78269v-23.59461l22.08009,33.55855h19.21048v-45.83412h4.70298z" ></path>
            <path  d="M261.56861,221.24998c0,-2.23192 1.83336,-3.66673 4.06529,-3.66673c4.8624,0 8.68856,2.7899 9.96394,7.09433h11.23932v-17.53653h-12.19586v3.98558c-3.18846,-3.02904 -7.57259,-5.02183 -12.67413,-5.02183c-11.0799,0 -18.97134,7.09433 -18.97134,16.26115c0,20.32644 27.6599,17.45682 27.6599,25.50769c0,2.31163 -2.0725,4.145 -5.34067,4.145c-5.34067,0 -9.64509,-3.26817 -11.23932,-8.36971h-11.15961v19.29019h12.11615v-4.46385c3.50731,3.4276 8.05086,5.57981 13.71038,5.57981c11.95673,0 20.48586,-7.81173 20.48586,-17.93509c0,-20.96413 -27.6599,-17.53653 -27.6599,-24.86999z"></path>
            <path  d="M422.50617,207.14104h-27.50047v9.96394h4.70298v26.46422c0,4.78269 -2.7899,8.05086 -7.81173,8.05086c-5.10154,0 -7.89144,-3.26817 -7.89144,-8.05086v-26.46422h4.70298v-9.96394h-27.50047v9.96394h4.62327v25.82653c0,12.59442 10.52192,21.20326 26.06567,21.20326c15.46403,0 25.98596,-8.60884 25.98596,-21.20326v-25.82653h4.62327z"></path>
            <path  d="M478.86221,252.97517l-10.52192,-15.86259c5.73923,-2.15221 10.60163,-7.49288 10.60163,-13.94952c0,-10.04365 -9.64509,-16.02202 -21.4424,-16.02202h-30.76865v9.96394h4.78269v35.87018h-4.78269v9.96394h27.02221v-9.96394h-4.06529v-12.75384h2.94933l11.87702,22.71778h20.48586v-9.96394zM452.07914,231.61248h-2.39135v-14.98577h2.55077c4.30442,0 7.49288,2.63048 7.49288,7.41317c0,4.94211 -3.34788,7.57259 -7.65231,7.57259z"></path>
            <path  d="M294.888,234.56222c0,-16.74 12.276,-28.697 30.848,-28.697c18.493,0 30.769,11.957 30.769,28.697c0,17.297 -11.957,29.493 -30.769,29.493c-18.891,0 -30.848,-12.196 -30.848,-29.493zM320.01809,216.65862c-1.06294,1.56421 -1.92365,3.54653 -2.58386,5.94355c-0.66134,2.39701 -0.77527,4.78549 -0.34463,7.16655c0.05753,0.34463 0.1726,0.93932 0.34463,1.7858c0.1726,0.84932 0.28595,1.46624 0.3452,1.85302c0.05639,0.38678 0.14298,0.953 0.25804,1.70149c0.11336,0.74565 0.16405,1.31243 0.14981,1.69922c-0.01424,0.38963 -0.02848,0.86926 -0.04215,1.44345c-0.01538,0.57476 -0.10083,1.02648 -0.25918,1.35687c-0.15722,0.33096 -0.3526,0.67274 -0.58046,1.03217c-0.23127,0.36115 -0.53261,0.65223 -0.90572,0.88236c-0.37254,0.23013 -0.81685,0.40387 -1.33408,0.51837c-1.09028,0.28595 -2.05182,0.1014 -2.88462,-0.55995c-0.83223,-0.66248 -1.41383,-1.542 -1.74365,-2.64879c-0.33096,-1.10452 -0.54685,-2.2734 -0.64653,-3.51008c-0.10083,-1.23383 0.04956,-2.30986 0.45286,-3.22925c-1.49415,1.32326 -2.69095,2.7724 -3.59666,4.35086c-0.90458,1.57845 -1.46339,3.11418 -1.67928,4.60548c-0.21418,1.49472 -0.32241,2.7143 -0.32241,3.66217c0,0.94673 0.07177,1.8496 0.21589,2.71316c0.25747,1.60637 0.88863,3.3221 1.89346,5.14435c1.00483,1.82169 2.51151,3.3802 4.52175,4.67384c0.88863,0.6021 1.80802,0.83167 2.75588,0.68584c0.94787,-0.14241 1.8365,-0.47849 2.67044,-1.0111c0.8311,-0.52919 1.64966,-1.23952 2.45455,-2.13043c0.80261,-0.88863 1.4913,-1.77213 2.06549,-2.64936c0.57533,-0.87496 1.07661,-1.74365 1.50725,-2.60436c0.91939,-1.8946 1.47877,-4.54111 1.67928,-7.94467c0.19994,-3.40014 0.01367,-5.66272 -0.55938,-6.78148c2.26771,2.29619 4.01762,4.65105 5.25315,7.06117c1.23383,2.41183 1.60807,5.05549 1.12047,7.9236c-0.14469,0.94673 -0.43919,1.94416 -0.8835,2.99342c-0.44545,1.04869 -0.98433,2.20334 -1.61434,3.46508c-0.28766,0.54685 -0.49501,0.96382 -0.62546,1.25034c-0.12874,0.28595 -0.30134,0.65849 -0.51609,1.11876c-0.21532,0.45913 -0.34463,0.79521 -0.38792,1.0111c-0.04272,0.21589 -0.08602,0.48818 -0.12931,0.81913c-0.04386,0.33039 -0.0074,0.55254 0.10766,0.66761c0.1145,0.1145 0.27171,0.25292 0.47337,0.409c0.20108,0.15722 0.48077,0.23013 0.84021,0.21589c0.3583,-0.0131 0.79635,-0.05013 1.31357,-0.10937c0.51552,-0.05525 1.1199,-0.17032 1.80858,-0.34406c1.63542,-0.57191 2.94159,-1.06009 3.91851,-1.46339c0.97635,-0.40102 2.23182,-1.04015 3.76755,-1.91454c1.53516,-0.87723 2.78437,-1.79377 3.74591,-2.75531c0.96097,-0.96154 1.902,-2.23125 2.82025,-3.81255c0.91996,-1.57902 1.59326,-3.3278 2.0239,-5.25372c1.09028,-4.93644 0.45229,-9.83699 -1.91568,-14.70393c-2.36739,-4.86694 -5.90709,-8.86463 -10.61397,-11.99305c0.63058,1.26401 1.24864,3.11418 1.85131,5.5562c1.11819,4.5639 0.66077,6.77294 -1.37794,6.62996c-0.43235,-0.05639 -0.90401,-0.18513 -1.42123,-0.38678c-2.26771,-0.94787 -3.99711,-2.38334 -5.18879,-4.30643c-1.1911,-1.92308 -1.8234,-4.44314 -1.89517,-7.55789c-0.0712,-3.11418 0.62546,-6.80939 2.08885,-11.08733c-0.37311,0.22956 -0.86072,0.56622 -1.46339,1.01167c-0.60267,0.44488 -1.64396,1.39845 -3.12159,2.86184c-1.47877,1.46624 -2.74962,2.98032 -3.81085,4.54453z"></path>
          </svg>
        </a>
        <div class="" id="div-avatar">
          <p>
            <%= current_user.nome_publico %>
          </p>
          <% if current_user.avatar.present? %>
            <%= image_tag(current_user.avatar.variant(:thumb), class: "img-avatar", id: "img-avatar") %>           
          <% else %>
            <%= image_tag("avatar-default.png", class: "img-avatar", id: "img-avatar") %>           
          <% end %>

          <div class="menu menu-hide" id="menu">            
            <ul>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                  <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                </svg>
                <%= link_to 'Perfil', '/'+current_user.nome_arroba %>
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-gear" viewBox="0 0 48 48">
                  <path d="M24,6A18,18,0,1,1,6,24,18.1,18.1,0,0,1,24,6m0-4A22,22,0,1,0,46,24,21.9,21.9,0,0,0,24,2Z"/>
                  <path d="M33.3,13.3,20,20,13.3,33.3a1.1,1.1,0,0,0,1.4,1.4L28,28l6.7-13.3A1.1,1.1,0,0,0,33.3,13.3ZM24,26a2,2,0,1,1,2-2A2,2,0,0,1,24,26Z"/>
                </svg>
                <%= link_to 'Explorar', '/profiles/explorer' %>
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-gear" viewBox="0 0 16 16">
                  <path d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492zM5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0z"/>
                  <path d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52l-.094-.319zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115l.094-.319z"/>
                </svg>
                <%= link_to 'Configurações', '/profiles/settings/profile' %>
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                  <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                </svg>
                <%= link_to "Sair", destroy_user_session_path, data: {turbo_method: :delete} %>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <main>
        <%= yield %>
        <%= render "layouts/flash" %>
      </main>
    <% else %>
        <%= yield %>
    <% end %>
  </body>
</html>
